ConnectionStrings__DefaultConnection=
Jwt__SigningKey=
MercadoPago__AccessToken=
MercadoPago__WebhookSecret=
Gcs__BucketName=weddinggift-uploads
Smtp__Host=
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__FromEmail=
